@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

@font-face {
  font-family: "text";
  src: url("Fonts/BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "";
  src: url("Fonts/Autography-DOLnW.otf") format("opentype");
}
@font-face {
  font-family: "main-name";
  src: url("Fonts/BrittanySignature.ttf") format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
}
body {
  /* background-color: #000000; */
  background: url("Images/download.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.page {
  height: 100vh;

  color: aliceblue;
  /* border: 1px solid white; */
}
.nav-details{
    padding-right: 30%;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  height: 50px;
  /* background-color: aqua; */
  background-color: #000000;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  color: #000000;
}

a:visited {
  color: #fff;
}
ul {
  list-style-type: none;
  display: flex;
}
li {
  color: #fff;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 20px;
}
li a{
  color: #fff;

}
.left-text {
  /* height: 50px; */
  /* width: 50px; */
  padding-left: 50px;
  padding-top: 13px;
  letter-spacing: 5px;
  color: #fff;
}


/* .right-button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 12px;
  background: #00f5ff;
  color: black;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 25px #00f5ff;
} */


.homee {
  height: 100vh;
}
h1 {
  position: relative;
  font-size: 250px;
  letter-spacing: 35px;
  margin-left: 40px;
  display: inline;
  /* border: 1px solid white; */
  z-index: -2;
  opacity: 10%;
}
.userimg-container {
  position: absolute;
  left: 500px;
  top: 300px;
  border: 1px solid white;
  height: 800px;
  width: 450px;
  overflow: hidden;
  display: inline-block;
  z-index: -1;
}
.user {
  width: 100%;
  height: 1300px;
  object-fit: cover;
}
.ht {
  /* padding-top: 5px; */
  padding-left: 20px;
  font-size: 140px;
  font-family: "main-name";
  line-height: 1;
  font-weight: 1;
  /* overflow: hidden; */
}
.about {
  position: relative;
  z-index: 2;
  height: 40vh;
  display: flex;
  /* align-items: center; */
  /* padding-left: 100px; */
  padding: 160px;
  background-color: #0c0f0f;
  color: #f9f5f5;
}

.inner-abt {
  text-align: center;
}

.inner-abt h2{
    font-size:50px ;
}
.inner-abt p {
  padding-left: 80px;
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
}
.skills {
  height: 70vh;
}

.skills h2 {
  display: flex;
  justify-content: center;

  margin-top: 120px;
  font-size: 120px;
}
.skill-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 20px;
}
.skill-wrap:hover {
  border: 1px solid red;
  color: red;
}
.skill-wraps:hover {
  border: 1px solid red;
  color: red;
}
.skill-wrap {
  width: 120px;
  height: 120px;
  border: 1px solid white;
  text-align: center;
}
.skill-wraps {
  width: 120px;
  height: 120px;
  border: 1px solid white;
  text-align: center;
}
.skill-container {
  img {
    height: 60px;
    width: 60px;
    padding-top: 20px;
  }
}
.skill-container .skill-wraps {
  img {
    height: 60px;
    width: 100px;
    padding-top: 20px;
  }
}
.projects {
  background-color: #0c0f0f;
}
.projects h2 {
  text-align: center;
  padding-top: 60px;
  font-size: 60px;
}
.projects h3 {
  text-align: center;
  padding-top: 4px;
}
.proj-cont {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  justify-content: center;
  padding: 50px;
  gap: 100px;
}
.proj-inner-cont {
  border: 1px solid rgba(240, 220, 220, 0.297);
  border-radius: 6px;
  height: 300px;
  width: 300px;
  text-align: center;
  background-color: #0f0f0f;
  overflow: hidden;
}

.proj-inner-cont img {
  height: 200px;
  width: 300px;
}
.proj-inner-cont img:hover {
  transform: scale(1.1);
}

.inner-cont {
  padding: 20px;
  display: flex;
}
.contact {
  min-height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 80px 10%;
  gap: 80px;
}
span {
  color: red;
}
.cont-left {
  color: aqua;
  font-size: 80px;
  font-family: "text";
}

.cont-right {
  width: 55%;
}

form {
  background: #161616;

  padding: 40px;

  border-radius: 20px;

  border: 1px solid rgba(255, 255, 255, 0.08);
}

.row {
  display: flex;

  gap: 25px;
}

.input-box {
  display: flex;

  flex-direction: column;

  width: 100%;

  margin-bottom: 25px;
}

.input-box label {
  color: white;

  margin-bottom: 10px;

  font-size: 15px;
}

.input-box input,
.input-box textarea {
  background: #202020;

  border: none;

  outline: none;

  border-radius: 12px;

  padding: 16px;

  color: white;

  font-size: 16px;

  transition: 0.3s;
}

.input-box input:focus,
.input-box textarea:focus {
  border: 1px solid #00f5ff;

  box-shadow: 0 0 20px rgba(0, 245, 255, 0.25);
}

textarea {
  resize: none;
}

button {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 12px;
  background: red;
  color: black;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-3px);

  box-shadow: 0 0 25px red;
}

footer {
  display: flex;
  justify-content: space-between;
  /* height: 0px; */
  height: 7vh;
  background-color: #020202;
  color: #fff;
}
/* 
.icons{
    height: 100px;
    width: 100px;
} */

.icons {
  padding-right: 40px;
  padding-top: 10px;
  font-size: 25px;
}
.icons a {
  padding-left: 20px;
  color: #f9f5f5;
}
.icons a:visited {
  color: #f9f5f5;
}
